<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<style>
    body {
        background-color: lightcoral;
    }

    h1 {
        font-size: 4.5rem;
        color: black;
        text-align: center;
        margin-top: 40vh;
    }
    h2 {
        font-size: 2rem;
        text-align: center;

    }
    a {
        color: blue;
        text-decoration: none;
    }
</style>
<body>
<h1>صفحه مورد نظر شما پیدا نشد</h1>
<h2><a href="{% url 'blog:blog_home' %}">بازگشت به سایت</a></h2>
</body>
</html>